#error{
    display: none;
    text-align: center;
    margin-top: -30px;
}
#loading {
    display: none;
}

.section1{
    margin: auto;
    align-content: center;
    text-align: center;
}
.col-md-8 {
    margin-top: auto;
    display: inline-block;
}
.tdiv{
    margin: auto;
    border-radius: 5px;
    width: 90%;
 }
.tbody td{
    border: 1px solid #e2e2fd;
}
#tbodyCountry td{
    border: 1px solid #e2e2fd;
}
.tdiv header{
    background-color: #92c3fa;
    height: 1.5cm;
}
.nadpis{
    font-weight: bold;
    color: black;
    padding-top: 15px;
    margin-left: 2%;
}
.btn-danger{
    float: right;
    margin-top: -45px;
    margin-right: 2%;
}
.jumbotron{
    background-color: #92c3fa;
    align-items: center;
    text-align: center;
    align-self: center;
    margin: auto;
}
img{
    height: 40px;
    width: 60px;
}
.data-section{
align-items: center;
}

.content{
    align-items: center;
    display: table;
    margin: auto;  
}

.left {
    float: left;
    width: 400px;
  }
  
.right {
    float: right;
    width: 400px;

  } 