#loading {
    display: none;
}
.row {
    text-align: center;
    margin-left: 20%;    
    padding: 0;
}
.tdiv{
    width: 70%;
    margin: auto;
    display: flexbox;
 }
.tbody td{
    border: 1px solid #a9a9fa;
}
.tdiv header{
    background-color: #92c3fa;
    height: 1.5cm;
}
.nadpis{
    font-weight: bold;
    color: black;
    padding-top: 15px;
    margin-left: 2%;
}
.btn-danger{
    float: right;
    margin-top: -45px;
    margin-right: 2%;
}
.jumbotron{
    background-color: #92c3fa;
}
